.puzzle-input {
  display: block;
  border-color: white;
  border-style: solid;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  outline: none;
  font-size: 5em;
  color: blue;
  caret-color: blue;
  padding: 15px 20px;
  background-color: inherit;
}

.puzzle-input:hover {
  border-width: 3px;
  padding: 13px;
}

.puzzle-input:focus {
  border-color: blue;
  border-width: 3px;
  padding: 13px;
}

.puzzle-form {
  box-sizing: border-box;
  align-self: center;
}

.content-message {
  text-align: center;
}

.solveable {
  color: lightgreen;
}

.not-solveable {
  color: crimson;
}
